
h3{
    color:green;
    font-size: 25px;
}
table{
    text-align: center;
    margin:0 auto;
    border-collapse: collapse;
    width:60%;
}
th, td{
    border: 1px solid #999;
    padding: 8px 12px;
}
.header th{
    color: black ;
    background-color: antiquewhite;
    font-size: 20px;
}
td{
    font-size: 14px;
}
tr:nth-child(2){
    color:red;
}
tr:nth-child(3){
    color: red;
}
tr:nth-child(4){
    color: red;
}
tr:hover{
    color: #cccccc;
}
