.home {
    min-height: 100vh;
    padding: 150px 8% 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.home-content {
    max-width: 550px;
}

.hi-label {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
    display: inline-block;
    margin-bottom: 15px;
}

.home-content h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.home-content h3 {
    font-size: 18px;
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}

.home-desc {
    font-size: 15px;
    color: gray;
    max-width: 450px;
    margin-bottom: 25px;
}